.module {
    background-color: var(--module-back);
    border-radius: 15px;

    float: none !important;
    min-height: 0 !important;

    position: relative;
    overflow: hidden;
    box-shadow: var(--bxsh-border);

    box-sizing: border-box;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    transition: .2s;

    width: 350px;
    height: 300px;

    &.skeleton-module {
        background: linear-gradient(to bottom, transparent, var(--root-back));
        position: relative;
        overflow: hidden;
        /* pointer-events: none; */

        &::before {
            content: "";
            position: absolute;
            top: -100%;
            left: -100%;
            width: 120%;
            height: 120%;
            background: linear-gradient(to bottom right, transparent 35%, var(--root-text) 50%, transparent 65%);
            animation: shimmer 2s infinite linear;
            z-index: 1;
            opacity: .05;
        }

        & .modHeadBtns {
            box-shadow: none !important;

            & .header-icon {
                width: 30px !important;
                height: 22px !important;
            }
        }

        .rss-list {
            appearance: none;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            list-style: none;

            box-sizing: border-box;

            margin: 0;
            padding: 10px;
            padding-top: 0;

            li {
                display: flex;
                align-items: center;
                flex-shrink: 0;

                width: 100%;
                height: 30px;

                box-sizing: border-box;
                color: var(--root-text);
                background-color: var(--surface-button);
                border-radius: 8px;

                transition: .15s;

                position: relative;
                overflow: hidden;
            }
        }

        & .skeleton-icon,
        & .skeleton-title {
            border-radius: 4px;
            position: relative;
            z-index: 2;
        }

        & .skeleton-icon::after {
            content: '';
            width: 16px;
            height: 16px;

            border-radius: 4px;
            background-color: var(--root-text);
            opacity: .2;
        }

        & .skeleton-title {
            height: 14px;
            width: 100px;
            margin-top: 10px;
            background-color: var(--root-text) !important;
            opacity: .2;
        }
    }

    &.minimized {
        height: 35px !important;
        border-radius: 18px;
        margin-bottom: 6px;

        .module-content {
            height: 0 !important;
            opacity: 0 !important;
            pointer-events: none !important;
        }
    }

    &.dragging,
    &:has(.dragging),
    &.resizing {
        transition: 0s !important;
        box-shadow: none !important;

        & .module-content,
        & .header {
            pointer-events: none !important;
        }
    }

    &.focus {
        box-shadow:
            var(--bxsh-border),
            0 30px 30px #00000022;
        background-color: var(--module-back-focus) !important;
        z-index: 1000000;

        &:not(.minimized) .module-content {
            opacity: 1 !important;
        }

        & .module-content {
            &::after {
                opacity: .2;
            }
        }
    }

    & .header {
        content: attr(title);
        width: 100%;
        height: 35px;
        user-select: none;
        overflow: visible;

        display: flex;
        align-items: center;
        flex-shrink: 0;

        box-sizing: border-box;
        padding-left: 0;

        transition: .2s;

        position: relative;
        z-index: 20;

        .icon {
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            aspect-ratio: 1/1;
        }

        .title {
            font-size: 14px;
            font-weight: bold;
            transition: .15s;
        }

        .modHeadBtns {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0;

            box-sizing: border-box;

            position: absolute;
            right: 3px;
            top: 3px;

            border-radius: 15px;
            transition: .2s;

            width: fit-content;
            max-width: 102px;
            background-color: var(--module-back);
            box-shadow: var(--bxsh-border);
            border-radius: 14px;
            min-width: 25px;
            height: fit-content;
            max-height: calc(100% - 4px);

            & .header-icon {
                font-size: 12px;
                cursor: pointer;
                flex-shrink: 0;

                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;

                color: var(--root-text);
                background-color: var(--surface-button);

                box-sizing: border-box;
                padding: 5px;

                transition: .15s;

                border-radius: 6px;
                width: fit-content;
                min-width: 25px;
                height: 100%;

                &:first-of-type {
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                }

                &:last-of-type {
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                }

                &::before {
                    width: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }

                &:hover {
                    background-color: white;
                    color: black !important;
                    border-color: transparent;

                    &::after {
                        font-size: 12px;
                        margin-right: 0;
                    }
                }
            }

            & .modActions {
                width: 102px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 3px;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 3px;
                margin-left: auto;
            }

            & .module-menu {
                position: relative;

                display: flex;
                flex-direction: column;
                gap: 2px;

                overflow: hidden;

                transition: .2s;
                height: fit-content;
                max-height: 0;
                pointer-events: none;
                opacity: 0;

                min-width: 120px;

                &.visible {
                    opacity: 1;
                    pointer-events: all;
                    padding: 3px;
                    max-height: 300px;
                }

                &:has(.module-action[data-action="move-top"]) .mt-sep {
                    display: flex !important;
                }

                & .sep {
                    width: 90%;
                    height: 1px;
                    background-color: var(--module-border);
                    margin: 3px auto;

                    &.mt-sep {
                        display: none;
                    }
                }

                & .module-action {
                    padding: 5px 9px;
                    padding-left: 0;
                    border-radius: 100px;
                    cursor: pointer;
                    font-size: 12px;
                    white-space: nowrap;
                    width: 100%;

                    display: flex;
                    align-items: center;

                    & i {
                        font-size: 12px;
                        width: 27px;
                        display: flex;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                    }

                    &:hover {
                        background-color: var(--surface-button);
                        color: var(--root-text);
                    }
                }
            }

            &:has(.module-menu.visible) {
                max-height: 200px;
                max-width: 200px;
                gap: 3px;

                border-radius: 13px 13px 15px 15px;
                background-color: var(--root-back);
                box-shadow:
                    inset 0 0 0 1px var(--module-border),
                    0 5px 10px rgba(0, 0, 0, 0.2);
            }
        }
    }

    &:has(.module-menu.visible) {
        .module-content {
            filter: blur(2px) grayscale(.3);
            transform: scale(.966);
            pointer-events: none;
        }
    }

    &.external:not(.focus) .module-content {
        pointer-events: none;
    }

    &.external:not(:hover) .module-content {
        opacity: .65;
    }

    & .module-content {
        width: calc(100%);
        height: calc(100% - 35px);

        position: relative;
        z-index: 10;

        transition: .2s;

        display: flex;

        overflow: visible;

        & iframe {
            width: 100%;
            height: 100%;
        }
    }
}